APScheduler==3.6.3
cachetools==4.2.2
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.6
greenlet==3.2.4
idna==3.10
pycparser==2.22
PyMySQL==1.1.1
python-dotenv==1.1.1
python-telegram-bot==13.15
pytz==2025.2
requests==2.32.4
six==1.17.0
SQLAlchemy==2.0.43
tornado==6.1
typing_extensions==4.14.1
tzlocal==5.3.1
urllib3==2.5.0
python-dateutil==2.9.0.post0
